{% extends "layout.html" %}

{% block content %}

<h1>Alta de tiendas</h1>
<form action="" method="post" name="tienda">
    {{ form.hidden_tag() }}
    <p>
        Nombre de tienda: {{ form.nombre}} <br />
        Direccion: {{ form.direccion}} <br />
        Codigo postal: {{ form.codigo_postal}} <br />
        Estado: {{ form.estado}} <br />
    </p>

    <p>
        <input type="submit" value="Guardar">
    </p>
    


</form>

{% endblock %}
